```
DataFrame customers
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| customer_id | int    |
| name        | object |
| email       | object |
+-------------+--------+
There are some duplicate rows in the DataFrame based on the email column.

Write a solution to remove these duplicate rows and keep only the first occurrence.

The result format is in the following example.



Example 1:
Input:
+-------------+---------+---------------------+
| customer_id | name    | email               |
+-------------+---------+---------------------+
| 1           | Ella    | emily@example.com   |
| 2           | David   | michael@example.com |
| 3           | Zachary | sarah@example.com   |
| 4           | Alice   | john@example.com    |
| 5           | Finn    | john@example.com    |
| 6           | Violet  | alice@example.com   |
+-------------+---------+---------------------+
Output:
+-------------+---------+---------------------+
| customer_id | name    | email               |
+-------------+---------+---------------------+
| 1           | Ella    | emily@example.com   |
| 2           | David   | michael@example.com |
| 3           | Zachary | sarah@example.com   |
| 4           | Alice   | john@example.com    |
| 6           | Violet  | alice@example.com   |
+-------------+---------+---------------------+
Explanation:
Alic (customer_id = 4) and Finn (customer_id = 5) both use john@example.com, so only the first occurrence of this email is retained.
```

In [2]:
import pandas as pd

## Test Case

In [3]:
data = [
    {"customer_id": 1, "name": "Ella",    "email": "emily@example.com"},
    {"customer_id": 2, "name": "David",   "email": "michael@example.com"},
    {"customer_id": 3, "name": "Zachary", "email": "sarah@example.com"},
    {"customer_id": 4, "name": "Alice",   "email": "john@example.com"},
    {"customer_id": 5, "name": "Finn",    "email": "john@example.com"},
    {"customer_id": 6, "name": "Violet",  "email": "alice@example.com"},
]

df = pd.DataFrame(data)

## Submission

In [4]:
def drop_missing_data(customers: pd.DataFrame) -> pd.DataFrame:
    df = customers.drop_duplicates(subset=["email"], keep="first")
    return df

drop_missing_data(df)

   customer_id     name                email
0            1     Ella    emily@example.com
1            2    David  michael@example.com
2            3  Zachary    sarah@example.com
3            4    Alice     john@example.com
5            6   Violet    alice@example.com