```
Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D list.

The result format is in the following example.



Example 1:

Input:
student_data:
[
  [1, 15],
  [2, 11],
  [3, 11],
  [4, 20]
]
Output:
+------------+-----+
| student_id | age |
+------------+-----+
| 1          | 15  |
| 2          | 11  |
| 3          | 11  |
| 4          | 20  |
+------------+-----+
Explanation:
A DataFrame was created on top of student_data, with two columns named student_id and age.
```

In [1]:
from typing import List
import pandas as pd

## Test Case

In [2]:
student_data = [[1,15],[2,11],[3,11],[4,20]]

## First Submission

In [5]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    columns = ["student_id", "age"]
    ids = [item[0] for item in student_data]
    age = [item[1] for item in student_data]
    dict_for_pd = dict(
        student_id=ids,
        age=age
    )

    return pd.DataFrame(dict_for_pd)

df = createDataframe(student_data)
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## Second Submission

In [6]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    columns = ["student_id", "age"]
    dict_for_pd = dict(
        student_id=[item[0] for item in student_data],
        age=[item[1] for item in student_data]
    )

    return pd.DataFrame(dict_for_pd)

df = createDataframe(student_data)
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## Third submission

In [7]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    pd_dict = {
        k: v for k, v in zip(
            ("student_id", "age"),
            (
                [item[0] for item in student_data],
                [item[1] for item in student_data]
            )
        )
    }
    return pd.DataFrame(pd_dict)

df = createDataframe(student_data)
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20

## Fourth submission

In [8]:
import pandas as pd

def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    return pd.DataFrame(student_data, columns=["student_id", "age"])

df = createDataframe(student_data)
df

   student_id  age
0           1   15
1           2   11
2           3   11
3           4   20